/*MULTI*/
*{
    text-align: center;
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    text-decoration: none;
}

html,body{
    height:100%;
}

#flex{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*HEADER*/
header{
    height:15%;
    background-color: aliceblue;
}

h1,h3,p{
    padding:15px;
}


/*MAIN*/
.links{
    height:74.5%;
    background-color: navy;
    color:white;
    background-image: url("images/2023_Dawning_Press_Kit_Key_Art_16x9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    transition: background-image .5s;

}

.links:has(#D2S:hover){
        background-image: url("images/2023_Warlord_s_Ruin_Dungeon_Press_Kit_Dungeon_COMPRESSED_007.jpg");
}

#D2S{
    border: solid white;
    border-radius: 8px;
    font-size: 30px; 
    transition: font-size .75s;
}

#D2S:hover{
    font-size: 40px;
}



/*FOOTER*/
footer{
    height:10%;
    background-color: aliceblue;
}

img{
    width: 30px;
    height: 30px;
    padding:10px;
    transition: width .25s;
    transition: height .25s;
}

img:hover{
    width: 45px;
    height: 45px;
}

/*BOTTOM NOTES: LOOK INTO CLAMP PROPERTIES*/